body {
    font-family: georgia;
}

h1, h2, h3 {
    font-family: helvetica, sans-serif;
}
h1 {
    font-size: 50px;
    color: white;
}

header {
    padding: 20px;
}

section {
    padding: 20px;
}

.alternate {
    background-color: rgb(109,109,109);
    color: rgb(255,255,255);
}

.photo-gallery {
    width: 100px;
    height: 100px;
    padding: 0 20px 20px 0;
}

#me-links * {
    display: inline;
    padding: 0 10px 0 0;
    margin: 0 auto;
}

.white {
    color: white;
}